#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#about_01{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    /* padding: 10px; */
}

#about_01 img{
    height: inherit;
    width: inherit;
    /* border: 1px solid black */
}

#about_02{
    /* background-color: violet; */
    width: 400px;
    height: 300px;
    border: 1px solid black;
    /* padding: 20px; */
}

#about_02 p{
    padding: 0 10px;
    text-align: justify;
}

#about_02 h1{
    padding: 0 10px;
}
