#container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 800px;
    height: auto;
}

#contact{
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
    padding: 0 10px;
}

#social{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    padding: 0 10px;
}

#social ul{
    list-style: none;
}